<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="email" value="dybek00@gmail.com"/>
    <add key="smtp_server" value="smtp.gmail.com"/>
    <add key="smtp_port" value="587"/>
    <add key="ssl" value="true"/>
    <add key="autoryzacja" value="false"/>
    <add key="user" value="dybek00@gmail.com"/>
    <add key="password" value="pass"/>
    <add key="subject" value="Raport działania serwerów"/>
  </appSettings>
</configuration>